@model IEnumerable<LogAndReg.Models.Use>

@{
    ViewBag.Title = "EditData";
}

<h2>Edit Data Here</h2>



@{
    WebGrid webGrid = new WebGrid(source: Model, rowsPerPage: 10);
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<div class="grid-table">
    @webGrid.GetHtml(
        tableStyle: "table table-bordered table-striped",
        htmlAttributes: new {@id="webGrid"},
        columns:webGrid.Columns(
            webGrid.Column("Uid","Uid"),
            webGrid.Column("Username","Username"),
              webGrid.Column("Email", "Email"),
                webGrid.Column("DateOfBirth", "DateOfBirth"),
                  webGrid.Column("MobileNumber", "MobileNumber"),
                   webGrid.Column("Address", "Address"),
                   webGrid.Column(header:"Edit",format:@<a href="/User/Edit/@item.Uid" class=" btn btn-success">Edit</a>)

                         ))
</div>

<a href="/User/LogAndReg" class="btn btn-info">Cancel</a>