@model IEnumerable<LogAndReg.Models.User>

@{
    ViewBag.Title = "Logic";
}

<h2>Display Records In Webgrid</h2>
@{
    WebGrid webGrid = new WebGrid(source: Model, rowsPerPage: 10);
}


@*@if (ViewBag.Status != null && Convert.ToBoolean(ViewBag.Status))
    {
        if (ViewBag.Message != null)
        {
            <div class="alert alert-success">
                <strong>Success!</strong>@ViewBag.Message
                <br />
                <br />


            </div>
        }*@

   

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<div class="grid-table">
    @webGrid.GetHtml(
  tableStyle: "table table-bordered table-striped",
  htmlAttributes: new { @id = "webGrid" },
  columns: webGrid.Columns(
      webGrid.Column("Uid", "Uid"),
       webGrid.Column("Username", "Username"),
        webGrid.Column("Email", "Email"),

          webGrid.Column("DateOfBirth", "DateOfBirth"),
           webGrid.Column("MobileNumber", "MobileNumber"),
            webGrid.Column("Gender", "Gender"),
             webGrid.Column("Address", "Address"),
                    //webGrid.Column("ActivationCode", "ActivationCode"),
                    // webGrid.Column("IsEmailVerified", "IsEmailVerified"),
                    //  webGrid.Column("Countryid", "Countryid"),
                    //   webGrid.Column("StateId", "StateId"),
                    //    webGrid.Column("CityId", "CityId"),
                    webGrid.Column("Cname", "Cname"),
              webGrid.Column("Sname", "Sname"),
               webGrid.Column("Cityname", "Cityname")
//webGrid.Column("StateId", "StateId"),
// webGrid.Column("CityId", "CityId")

))

   

</div>

<br />
<div>
    @*<a href="/User/UserView" class="btn btn-info">User View</a>
        <a href="/User/EditData" class="btn btn-info">Edit View</a>*@
    <a href="/User/LogAndReg" class="btn btn-info">Cancel</a>
</div>



